.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ff3d00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.cat-info {
  margin-top: 20px;
}

.cat-foto {
  padding-left: 10px;
}

.cat-desc {
  width: 90%;
  padding-left: 10px;
}
@media only screen and (max-width: 550px) {
  .cat-foto {
    width: 95%;
  }
}
@media screen and (min-width: 551px) and (max-width: 767px) {
  .cat-desc {
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  .cat-info {
    display: flex;
  }
  .cat-foto {
    width: 49%;
  }
  .cat-desc {
    width: 49%;
    padding-left: 20px;
  }
}
